.navbar{
    height: 80px;
    width: 100%;
    /* background-color: lightcoral; */
    display: flex;
    column-gap: 20px;
    padding-left: 100px;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 2px black;

}
.iconDiv{
    width: 60px;
    height: 60px;
    /* background-color: green; */
    
}
.iconDiv img{
    width: 100%;
    height: 100%;
    background-position: center;
}